* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 0 15px;
    margin-bottom: 24px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}